Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.idea/

*.sln
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
.vsconfig

Content/
*.uasset
*.umap
*.ubulk
*.uexp

*.png
*.jpg
*.jpeg
*.tga
*.bmp
*.exr
*.hdr
*.psd
*.wav
*.mp3
*.ogg
*.fbx
*.blend
*.glb
*.gltf

*.log
*.tmp
*.bak
